scipy
iexfinance
numpy
matplotlib
seaborn
pandas
tabulate
texttable
requests
python-dotenv
python-twitter
tweepy
django
python-environ
beautifulsoup4
python-telegram-bot
jsonfield
redis
colored
pytrends
python-dateutil
progressbar2
