{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Hazlitt Data</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

 		<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link href="{% static 'css/app.css' %}" rel="stylesheet">
	</head>

	<body class="bg-dark-mode">
		{% include "partials/topbar.html" %}
        <section class="main flex">
        	{% include "partials/sidebar.html" %}

            <div class="content w-5/6 bg-dark-mode-light shadow-inner-dark text-old-gray py-6 px-8 rounded-l h-screen">
                {% comment %} Content {% endcomment %}
            </div>
        </section>
        {% comment %} {% include "partials/footer.html" %} {% endcomment %}


	</body>

</html>

